/* The modal should cover the entire window.
1. The modal should have a background color that is dark and semi transparent.
2. The modal content should be centered horizontally.
3. The modal content should have a light background color.
4. The modal should have a close button in the top right corner that is large enough to easily hit with mouse or finger.
5. The modal should be on top of all other content.
6. The modal content should have some padding and margin added for white space. */
/*modals.css*/
.modal {
    /*display: none; /* hidden by default */
    display: block;
    position: fixed; /* stay in place */
    z-index: 1000; /* sit on top */
    left: 0;
    top: 0;
    width: 100vw; /*full width*/
    height: 100vh; /*full height*/
    background-color: rgba(0, 0, 0, 0.4); /* black w/opacity */
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /*15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /*could be more or less, depending on screen size */
}

.close-button {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-button:hover, 
.close-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.open {
    display: block;
}